*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

footer{
    font-family: monospace;
    background-color: grey;
    color: white;
}